#14MBID - TFM

#El parque automovilístico de segunda mano en España. Análisis y estimación del precio de venta

##Manuel Campoy Naranjo

###Cuaderno 2

En este cuaderno se hace la importación de datasets de datos estadísticos de la DGT y el INE, para su posterior uso en Power BI para realizar un análisis del parque de turismos en España

##Importación de paquetes y librerías. Configuración de rutas

In [1]:
import os
import io
import pandas as pd
from google.colab import drive

pd.options.mode.chained_assignment = None

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!ls "/content/drive/My Drive/TFM/Datasets"

 accidentes.xlsx		    'ventas marca 2019.xlsx'
 autocasion2mano.xlsx		    'ventas marca 2020.xlsx'
 autocasionnuevos.xlsx		    'ventas marca 2021.xlsx'
 coches-de-segunda-mano-sample.csv  'ventas marca 2022.xlsx'
 cochesnetnuevos.xlsx		    'ventas modelo 2015.xlsx'
 datosBI.xlsx			    'ventas modelo 2016.xlsx'
 df_2mano_dummies.xlsx		    'ventas modelo 2017.xlsx'
 df_2mano_pop_dummies.xlsx	    'ventas modelo 2018.xlsx'
 df_2mano_pop_pre_dummies.xlsx	    'ventas modelo 2019.xlsx'
 df_2mano_pop_pre.xlsx		    'ventas modelo 2020.xlsx'
 df_2mano_pop.xlsx		    'ventas modelo 2021.xlsx'
 df_2mano.xlsx			    'ventas modelo 2022.xlsx'
 df_provincias.xlsx		    'ventas provincia 2015.xlsx'
 parque.xlsx			    'ventas provincia 2016.xlsx'
 pib-capita.xlsx		    'ventas provincia 2017.xlsx'
 poblacion.xlsx			    'ventas provincia 2018.xlsx'
 transferencias.xlsx		    'ventas provincia 2019.xlsx'
'ventas marca 2015.xlsx'	    'ventas provincia 2020.xlsx'
'ventas marca 2016.xlsx'	    'ventas provincia 2021.xlsx'
'ventas marca 2017.xlsx'	    'ventas provincia 2022.xlsx'
'ventas marca 2018.xlsx'

Se crea un path de acceso para más comodidad (tanto en local como en Drive)

In [4]:
#path = '/Users/manolo/Documents/Personales/Estudios/Máster Big Data y Data Science/Asignaturas/14MBID - TFM/Datasets/'
path = '/content/drive/My Drive/TFM/Datasets/'

##Importación y procesado de otros datasets

A continuación se importan y procesan los dataset correspondientes a:

* Transferencias de vehículos entre 2010 y 2022
* Accidentes entre 2015 y 2020
* Población entre 2015 y 2021
* PIB per cápita entre 2000 y 2020
* Parque de vehículos entre 2005 y 2021

Estos datos están desagregados por provincia. Antes de procesar en Python los datasets, se hizo un preprocesado aparte para homogeneizar los nombres de las provincias, de modo que correspondan con los del dataframe df_provincias

#### Transferencias de turismos

El archivo Excel cuenta con una hoja para cada año, de modo que se procederá a su importación como diccionario y, posteriormente, se creará un dataset para cada año. Esos datasets se unirán en un único dataset usando como índices tanto el año como la provincia

In [5]:
dic_transferencias = pd.read_excel(path+'transferencias.xlsx', sheet_name=None)

In [6]:
ds_2010transferencias = dic_transferencias['2010']
ds_2011transferencias = dic_transferencias['2011']
ds_2012transferencias = dic_transferencias['2012']
ds_2013transferencias = dic_transferencias['2013']
ds_2014transferencias = dic_transferencias['2014']
ds_2015transferencias = dic_transferencias['2015']
ds_2016transferencias = dic_transferencias['2016']
ds_2017transferencias = dic_transferencias['2017']
ds_2018transferencias = dic_transferencias['2018']
ds_2019transferencias = dic_transferencias['2019']
ds_2020transferencias = dic_transferencias['2020']
ds_2021transferencias = dic_transferencias['2021']
ds_2022transferencias = dic_transferencias['2022']

In [7]:
ds_2017transferencias.head()

  Provincia  Transferencias
0   Almería           34397
1     Cádiz           51572
2   Córdoba           48720
3   Granada           44063
4    Huelva           17851

In [8]:
ds_2021transferencias.tail()

     Provincia  Transferencias
47     Navarra           36129
48       Álava           15542
49    Gipuzkoa           28190
50     Bizkaia           51405
51  Rioja (La)           13209

In [9]:
ds_2010transferencias['Año'] = 2010
ds_2011transferencias['Año'] = 2011
ds_2012transferencias['Año'] = 2012
ds_2013transferencias['Año'] = 2013
ds_2014transferencias['Año'] = 2014
ds_2015transferencias['Año'] = 2015
ds_2016transferencias['Año'] = 2016
ds_2017transferencias['Año'] = 2017
ds_2018transferencias['Año'] = 2018
ds_2019transferencias['Año'] = 2019
ds_2020transferencias['Año'] = 2020
ds_2021transferencias['Año'] = 2021
ds_2022transferencias['Año'] = 2022

In [10]:
ds_2010transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2011transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2012transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2013transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2014transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2015transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2016transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2017transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2018transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2019transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2020transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2021transferencias.set_index(['Año', 'Provincia'], inplace = True)
ds_2022transferencias.set_index(['Año', 'Provincia'], inplace = True)

In [11]:
frames = [ds_2010transferencias, ds_2011transferencias, ds_2012transferencias,
          ds_2013transferencias, ds_2014transferencias, ds_2015transferencias,
          ds_2016transferencias, ds_2017transferencias, ds_2018transferencias,
          ds_2019transferencias, ds_2020transferencias, ds_2021transferencias,
          ds_2022transferencias]

In [12]:
df_transferencias = pd.concat(frames)

In [13]:
df_transferencias

                 Transferencias
Año  Provincia
2010 Almería              25842
     Cádiz                42216
     Córdoba              32205
     Granada              32494
     Huelva               17416
...                         ...
2022 Navarra              29749
     Álava                10164
     Gipuzkoa             24626
     Bizkaia              43838
     Rioja (La)            9383

[676 rows x 1 columns]

#### Accidentes de tráfico con heridos

El archivo Excel cuenta con una hoja para cada año, de modo que se procederá a su importación como diccionario y, posteriormente, se creará un dataset para cada año. Esos datasets se unirán en un único dataset usando como índices tanto el año como la provincia

In [14]:
dic_accidentes = pd.read_excel(path+'accidentes.xlsx', sheet_name=None)

In [15]:
ds_2015accidentes = dic_accidentes['2015']
ds_2016accidentes = dic_accidentes['2016']
ds_2017accidentes = dic_accidentes['2017']
ds_2018accidentes = dic_accidentes['2018']
ds_2019accidentes = dic_accidentes['2019']
ds_2020accidentes = dic_accidentes['2020']

In [16]:
ds_2017accidentes.head()

  Provincia  Accidentes
0     Álava         998
1  Albacete         711
2  Alicante        2954
3   Almería        1190
4  Asturias        2312

In [17]:
ds_2020accidentes.tail()

     Provincia  Accidentes
47      Toledo         595
48    Valencia        3114
49  Valladolid         616
50      Zamora         179
51    Zaragoza        1169

In [18]:
ds_2015accidentes['Año'] = 2015
ds_2016accidentes['Año'] = 2016
ds_2017accidentes['Año'] = 2017
ds_2018accidentes['Año'] = 2018
ds_2019accidentes['Año'] = 2019
ds_2020accidentes['Año'] = 2020

In [19]:
ds_2015accidentes.set_index(['Año', 'Provincia'], inplace = True)
ds_2016accidentes.set_index(['Año', 'Provincia'], inplace = True)
ds_2017accidentes.set_index(['Año', 'Provincia'], inplace = True)
ds_2018accidentes.set_index(['Año', 'Provincia'], inplace = True)
ds_2019accidentes.set_index(['Año', 'Provincia'], inplace = True)
ds_2020accidentes.set_index(['Año', 'Provincia'], inplace = True)

In [20]:
frames = [ds_2015accidentes, ds_2016accidentes, ds_2017accidentes, ds_2018accidentes,
          ds_2019accidentes, ds_2020accidentes]

In [21]:
df_accidentes = pd.concat(frames)

In [22]:
df_accidentes

                 Accidentes
Año  Provincia
2015 Álava              912
     Albacete           605
     Alicante          2708
     Almería            733
     Asturias          2374
...                     ...
2020 Toledo             595
     Valencia          3114
     Valladolid         616
     Zamora             179
     Zaragoza          1169

[312 rows x 1 columns]

#### Población

El archivo Excel cuenta con una hoja para cada año, de modo que se procederá a su importación como diccionario y, posteriormente, se creará un dataset para cada año. Esos datasets se unirán en un único dataset usando como índices tanto el año como la provincia

In [23]:
dic_poblacion = pd.read_excel(path+'poblacion.xlsx', sheet_name=None)

In [24]:
ds_2015poblacion = dic_poblacion['2015']
ds_2016poblacion = dic_poblacion['2016']
ds_2017poblacion = dic_poblacion['2017']
ds_2018poblacion = dic_poblacion['2018']
ds_2019poblacion = dic_poblacion['2019']
ds_2020poblacion = dic_poblacion['2020']
ds_2021poblacion = dic_poblacion['2021']

In [25]:
ds_2017poblacion.head()

  Provincia  Población
0  Albacete     390032
1  Alicante    1825332
2   Almería     706672
3     Álava     326574
4  Asturias    1034960

In [26]:
ds_2021poblacion.tail()

     Provincia  Población
47  Valladolid     519361
48      Zamora     168725
49    Zaragoza     967452
50       Ceuta      83517
51     Melilla      86261

In [27]:
ds_2015poblacion['Año'] = 2015
ds_2016poblacion['Año'] = 2016
ds_2017poblacion['Año'] = 2017
ds_2018poblacion['Año'] = 2018
ds_2019poblacion['Año'] = 2019
ds_2020poblacion['Año'] = 2020
ds_2021poblacion['Año'] = 2021

In [28]:
ds_2015poblacion.set_index(['Año', 'Provincia'], inplace = True)
ds_2016poblacion.set_index(['Año', 'Provincia'], inplace = True)
ds_2017poblacion.set_index(['Año', 'Provincia'], inplace = True)
ds_2018poblacion.set_index(['Año', 'Provincia'], inplace = True)
ds_2019poblacion.set_index(['Año', 'Provincia'], inplace = True)
ds_2020poblacion.set_index(['Año', 'Provincia'], inplace = True)
ds_2021poblacion.set_index(['Año', 'Provincia'], inplace = True)

In [29]:
frames = [ds_2015poblacion, ds_2016poblacion, ds_2017poblacion, ds_2018poblacion,
          ds_2019poblacion, ds_2020poblacion, ds_2021poblacion]

In [30]:
df_poblacion = pd.concat(frames)

In [31]:
df_poblacion

                 Población
Año  Provincia
2015 Albacete       394580
     Alicante      1855047
     Almería        701211
     Álava          323648
     Asturias      1051229
...                    ...
2021 Valladolid     519361
     Zamora         168725
     Zaragoza       967452
     Ceuta           83517
     Melilla         86261

[364 rows x 1 columns]

#### PIB per cápita

El archivo Excel cuenta con una hoja para cada año, de modo que se procederá a su importación como diccionario y, posteriormente, se creará un dataset para cada año. Esos datasets se unirán en un único dataset usando como índices tanto el año como la provincia

In [32]:
dic_pibcapita = pd.read_excel(path+'pib-capita.xlsx', sheet_name=None)

In [33]:
ds_2010pibcapita = dic_pibcapita['2010']
ds_2011pibcapita = dic_pibcapita['2011']
ds_2012pibcapita = dic_pibcapita['2012']
ds_2013pibcapita = dic_pibcapita['2013']
ds_2014pibcapita = dic_pibcapita['2014']
ds_2015pibcapita = dic_pibcapita['2015']
ds_2016pibcapita = dic_pibcapita['2016']
ds_2017pibcapita = dic_pibcapita['2017']
ds_2018pibcapita = dic_pibcapita['2018']
ds_2019pibcapita = dic_pibcapita['2019']
ds_2020pibcapita = dic_pibcapita['2020']

In [34]:
ds_2017pibcapita.head()

  Provincia    PIB
0     Álava  38065
1  Albacete  20141
2  Alicante  19044
3   Almería  21421
4  Asturias  21939

In [35]:
ds_2020pibcapita.tail()

     Provincia    PIB
47      Toledo  17609
48    Valencia  21935
49  Valladolid  25783
50      Zamora  19059
51    Zaragoza  26607

In [36]:
ds_2010pibcapita['Año'] = 2010
ds_2011pibcapita['Año'] = 2011
ds_2012pibcapita['Año'] = 2012
ds_2013pibcapita['Año'] = 2013
ds_2014pibcapita['Año'] = 2014
ds_2015pibcapita['Año'] = 2015
ds_2016pibcapita['Año'] = 2016
ds_2017pibcapita['Año'] = 2017
ds_2018pibcapita['Año'] = 2018
ds_2019pibcapita['Año'] = 2019
ds_2020pibcapita['Año'] = 2020

In [37]:
ds_2010pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2011pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2012pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2013pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2014pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2015pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2016pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2017pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2018pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2019pibcapita.set_index(['Año', 'Provincia'], inplace = True)
ds_2020pibcapita.set_index(['Año', 'Provincia'], inplace = True)

In [38]:
frames = [ds_2010pibcapita, ds_2011pibcapita, 
          ds_2012pibcapita,
          ds_2013pibcapita, ds_2014pibcapita, ds_2015pibcapita,
          ds_2016pibcapita, ds_2017pibcapita, ds_2018pibcapita,
          ds_2019pibcapita, ds_2020pibcapita]

In [39]:
df_pibcapita = pd.concat(frames)

In [40]:
df_pibcapita

                   PIB
Año  Provincia
2010 Álava       33968
     Albacete    18456
     Alicante    17722
     Almería     18479
     Asturias    21125
...                ...
2020 Toledo      17609
     Valencia    21935
     Valladolid  25783
     Zamora      19059
     Zaragoza    26607

[572 rows x 1 columns]

#### Parque móvil

El archivo Excel cuenta con una hoja para cada año, de modo que se procederá a su importación como diccionario y, posteriormente, se creará un dataset para cada año. Esos datasets se unirán en un único dataset usando como índices tanto el año como la provincia

In [41]:
dic_parque = pd.read_excel(path+'parque.xlsx', sheet_name=None)

In [42]:
ds_2010parque = dic_parque['2010']
ds_2011parque = dic_parque['2011']
ds_2012parque = dic_parque['2012']
ds_2013parque = dic_parque['2013']
ds_2014parque = dic_parque['2014']
ds_2015parque = dic_parque['2015']
ds_2016parque = dic_parque['2016']
ds_2017parque = dic_parque['2017']
ds_2018parque = dic_parque['2018']
ds_2019parque = dic_parque['2019']
ds_2020parque = dic_parque['2020']
ds_2021parque = dic_parque['2021']

In [43]:
ds_2011parque.head()

  Provincia  Gasolina   Gasóleo  Otros
0   Almería  121141.0  196662.0   39.0
1     Cádiz  238489.0  301851.0   16.0
2   Córdoba  143143.0  210007.0   44.0
3   Granada  186866.0  241662.0   35.0
4    Huelva  101716.0  129155.0   13.0

In [44]:
ds_2020parque.tail()

     Provincia  Gasolina   Gasóleo   Otros
47     Navarra  131786.0  203843.0  1055.0
48       Álava   73092.0   86177.0   638.0
49    Gipuzkoa  142649.0  188860.0  1180.0
50     Bizkaia  226202.0  297534.0  2426.0
51  Rioja (La)   62708.0   89214.0   358.0

In [45]:
ds_2010parque['Año'] = 2010
ds_2011parque['Año'] = 2011
ds_2012parque['Año'] = 2012
ds_2013parque['Año'] = 2013
ds_2014parque['Año'] = 2014
ds_2015parque['Año'] = 2015
ds_2016parque['Año'] = 2016
ds_2017parque['Año'] = 2017
ds_2018parque['Año'] = 2018
ds_2019parque['Año'] = 2019
ds_2020parque['Año'] = 2020
ds_2021parque['Año'] = 2021

In [46]:
ds_2010parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2011parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2012parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2013parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2014parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2015parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2016parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2017parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2018parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2019parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2020parque.set_index(['Año', 'Provincia'], inplace = True)
ds_2021parque.set_index(['Año', 'Provincia'], inplace = True)

In [47]:
frames = [ds_2010parque, ds_2011parque, 
          ds_2012parque,
          ds_2013parque, ds_2014parque, ds_2015parque,
          ds_2016parque, ds_2017parque, ds_2018parque,
          ds_2019parque, ds_2020parque, ds_2021parque]

In [48]:
df_parque = pd.concat(frames)

In [49]:
cabecera = ['Parque Gasolina', 'Parque Diesel', 'Parque Otros']

In [50]:
df_parque.columns = cabecera

In [51]:
df_parque

                 Parque Gasolina  Parque Diesel  Parque Otros
Año  Provincia
2010 Almería            123829.0       191560.0          39.0
     Cádiz              244200.0       294596.0          15.0
     Córdoba            147079.0       204078.0          42.0
     Granada            190798.0       235783.0          34.0
     Huelva             104379.0       125005.0          11.0
...                          ...            ...           ...
2021 Navarra            134756.0       203745.0        1572.0
     Álava               74414.0        85332.0         870.0
     Gipuzkoa           145327.0       186985.0        1612.0
     Bizkaia            230001.0       292933.0        3076.0
     Rioja (La)          63739.0        89130.0         492.0

[624 rows x 3 columns]

## Unión y exportación de datasets por año y provincia 

Para poder realizar un análisis de los datos por año y provincia, es necesario proceder a la unión de diferentes datasets. Posteriormente, se exportarán en un archivo Excel para su uso en Power BI

Inicialmente se importa el dataframe de datos de matriculación por provincia y tipo de combustible que se obtuvo previamente.

In [52]:
df_powerBI = pd.read_excel(path+'df_provincias.xlsx', index_col=[0, 1])

In [53]:
df_powerBI = df_powerBI.merge(df_transferencias, on=["Año", "Provincia"], how="outer")
df_powerBI = df_powerBI.merge(df_accidentes, on=["Año", "Provincia"], how="outer")
df_powerBI = df_powerBI.merge(df_poblacion, on=["Año", "Provincia"], how="outer")
df_powerBI = df_powerBI.merge(df_pibcapita, on=["Año", "Provincia"], how="outer")
df_powerBI = df_powerBI.merge(df_parque, on=["Año", "Provincia"], how="outer")

In [54]:
df_powerBI = df_powerBI.sort_values(["Año", "Provincia"])

In [55]:
df_powerBI

                 Mat. Gasolina  Mat. Diesel  Mat. Electrico  Mat. GLP  \
Año  Provincia
2010 Albacete              NaN          NaN             NaN       NaN
     Alicante              NaN          NaN             NaN       NaN
     Almería               NaN          NaN             NaN       NaN
     Asturias              NaN          NaN             NaN       NaN
     Badajoz               NaN          NaN             NaN       NaN
...                        ...          ...             ...       ...
2022 Valladolid         3430.0        847.0           216.0     187.0
     Zamora              954.0        268.0            37.0      23.0
     Zaragoza           7719.0       1769.0           420.0     150.0
     Álava              2842.0        636.0           170.0     133.0
     Ávila               946.0        229.0            54.0      43.0

                 Mat. GNC  Transferencias  Accidentes  Población      PIB  \
Año  Provincia
2010 Albacete         NaN           15290         NaN        NaN  18456.0
     Alicante         NaN           69906         NaN        NaN  17722.0
     Almería          NaN           25842         NaN        NaN  18479.0
     Asturias         NaN           47264         NaN        NaN  21125.0
     Badajoz          NaN           33159         NaN        NaN  16485.0
...                   ...             ...         ...        ...      ...
2022 Valladolid       0.0           16905         NaN        NaN      NaN
     Zamora           0.0            7779         NaN        NaN      NaN
     Zaragoza         0.0           45732         NaN        NaN      NaN
     Álava            2.0           10164         NaN        NaN      NaN
     Ávila            0.0            5931         NaN        NaN      NaN

                 Parque Gasolina  Parque Diesel  Parque Otros
Año  Provincia
2010 Albacete            75047.0       104664.0           7.0
     Alicante           488002.0       406567.0          37.0
     Almería            123829.0       191560.0          39.0
     Asturias           214991.0       283717.0          42.0
     Badajoz            147136.0       194632.0          16.0
...                          ...            ...           ...
2022 Valladolid              NaN            NaN           NaN
     Zamora                  NaN            NaN           NaN
     Zaragoza                NaN            NaN           NaN
     Álava                   NaN            NaN           NaN
     Ávila                   NaN            NaN           NaN

[676 rows x 12 columns]

In [56]:
df_powerBI.head()

                Mat. Gasolina  Mat. Diesel  Mat. Electrico  Mat. GLP  \
Año  Provincia
2010 Albacete             NaN          NaN             NaN       NaN
     Alicante             NaN          NaN             NaN       NaN
     Almería              NaN          NaN             NaN       NaN
     Asturias             NaN          NaN             NaN       NaN
     Badajoz              NaN          NaN             NaN       NaN

                Mat. GNC  Transferencias  Accidentes  Población      PIB  \
Año  Provincia
2010 Albacete        NaN           15290         NaN        NaN  18456.0
     Alicante        NaN           69906         NaN        NaN  17722.0
     Almería         NaN           25842         NaN        NaN  18479.0
     Asturias        NaN           47264         NaN        NaN  21125.0
     Badajoz         NaN           33159         NaN        NaN  16485.0

                Parque Gasolina  Parque Diesel  Parque Otros
Año  Provincia
2010 Albacete           75047.0       104664.0           7.0
     Alicante          488002.0       406567.0          37.0
     Almería           123829.0       191560.0          39.0
     Asturias          214991.0       283717.0          42.0
     Badajoz           147136.0       194632.0          16.0

In [57]:
df_powerBI.tail()

                 Mat. Gasolina  Mat. Diesel  Mat. Electrico  Mat. GLP  \
Año  Provincia
2022 Valladolid         3430.0        847.0           216.0     187.0
     Zamora              954.0        268.0            37.0      23.0
     Zaragoza           7719.0       1769.0           420.0     150.0
     Álava              2842.0        636.0           170.0     133.0
     Ávila               946.0        229.0            54.0      43.0

                 Mat. GNC  Transferencias  Accidentes  Población  PIB  \
Año  Provincia
2022 Valladolid       0.0           16905         NaN        NaN  NaN
     Zamora           0.0            7779         NaN        NaN  NaN
     Zaragoza         0.0           45732         NaN        NaN  NaN
     Álava            2.0           10164         NaN        NaN  NaN
     Ávila            0.0            5931         NaN        NaN  NaN

                 Parque Gasolina  Parque Diesel  Parque Otros
Año  Provincia
2022 Valladolid              NaN            NaN           NaN
     Zamora                  NaN            NaN           NaN
     Zaragoza                NaN            NaN           NaN
     Álava                   NaN            NaN           NaN
     Ávila                   NaN            NaN           NaN

In [58]:
df_powerBI.shape

(676, 12)

In [59]:
df_powerBI.to_excel(path+"datosBI.xlsx", header=True)